.text-center
  %table.table
    %thead
      %tr
        %th{:scope => "col"} id
        %th{:scope => "col"} First name
        %th{:scope => "col"} Last name
        %th{:scope => "col"} Email
        %th{:scope => "col"} sex
        %th{:scope => "col"} age
        %th{:scope => "col"} about
        %th{:scope => "col"} city
        %th{:scope => "col"} street
        %th{:scope => "col"} house number
        %th{:scope => "col"} zip

    %tbody
      %tr
        %th{scope: 'row'}
          =@user.id
        %td
          =@user.first_name
        %td
          =@user.last_name
        %td
          =@user.email
        %td
          =@user.sex
        %td
          =@user.age
        %td
          =@user.about
        %td
          =@user.adress.city
        %td
          =@user.adress.street
        %td
          =@user.adress.home_number
        %td
          =@user.adress.zip
  = link_to 'Back', users_path, class: 'btn btn-outline-primary'
