<p id="notice"><%= notice %></p>

<h1>Favourites</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourites.each do |favourite| %>
      <tr>
        <td><%= image_tag favourite.url %></td>
<!--        <td><%#= link_to 'Show', user_favourite_path(favourite) %></td>-->
<!--        <td><%#= link_to 'Edit', edit_user_favourite_path(favourite) %></td>-->
<!--        <td><%#= link_to 'Destroy', favourite, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<%#= image_tag @images.url %>
<br>

<%= link_to 'New Favourite', new_user_favourite_path %>
<%= link_to 'Back', user_path(request["user_id"]) %>