%br/
%br/
%br/
.text-center
  %h2 Add to favourites
  = form_for @favourite, :url => { :controller => 'favourites', :action => 'create' } do |form|
    .row
      .col
      .col
        .field
          = form.text_field :id, class: 'form-control', placeholder: 'image id', value: @favourite_id
        %br/
        .actions
          = form.submit 'Add', class: 'btn btn-primary'
      .col
