<h1>New favourite here</h1>

<%= form_with(model: @favourite, url: 'ssdasd', local: true) do |form| %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>