<h1>New image here</h1>

<%= form_with(model: @image, local: true) do |form| %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>