%h2 Add new image to database
-link

= form_with(model: @image, local: true) do |form|
  .form-inline
    .form-group.mb-2
      .field
        = form.label :Image_url
        = form.text_field :url, class: 'form-control'
      .actions
        = form.submit 'TEXT', class: 'btn btn-primary'
